.color_gradient {
    width: 200px;
    height: 100px;
    background-color: red;
    background:-webkit-linear-gradient(red, yellow);
    background: linear-gradient(red, yellow);}

.color_css3 {
    width: 200px;
    height: 100px;
    background: rgba(255,255,0,0.5);
}

.color_gradient_deg {
    width: 200px;
    height: 100px;
    background: linear-gradient(180deg, green, yellow);
}

.color_gradient_circle {
    width: 200px;
    height: 100px;
    background: radial-gradient(closest-corner, red, yellow);
    box-shadow: 1px 1px 3px gray;
}

.background_image {
    width: 200px;
    height: 100px;
    background-image: url(https://cdn.pixabay.com/photo/2021/09/19/21/38/nature-6639127_960_720.jpg);
    background-size: 200px 100px;
    padding: 100px;
    border: 10px solid black;
    background-origin:content-box;
}

.border_image {
    width: 200px;
    height: 100px;
    border: 20px solid transparent;
    border-image: url(../img/pattern.png) 33 round;
}

.text_overflow {
    idth: 350px;
    height: 1.2em;
    white-space: nowrap;
    border: 1px solid black;
    overflow: hidden;"
    text-overflow: ellipsis;
}

.word_wrap {
    border: 1px solid black;
    width: 130px;
    word-wrap: break-word;
}