.div1 {border: 3px solid brown;}
.ul1 {list-style: none}
.ul2 {list-style: none;}
a {text-decoration: none; color: blueviolet;}
.li1 {background-color: blue; color: white; padding: 10px 15px;
    border-radius: 20px; float:right; margin: 10px;}