.flex_box {
    background-color: lightgray;
    display: flex;
    height: 300px;
}

.item, .item_1 {
    width: 50px;
    height: 30px;
    background-color: darkorange;
}

.item_1 {
    order: -1;
    flex: auto;
    align-self: center;
}

.grid_box {
    display: grid;
    height: 400px;
    background-color: lightgray;
    grid-template-columns: repeat(3, 1fr);
}

.grid_box .item {
    width: auto;
    height: auto;
}

.item_g1 {
    grid-row: 1 / span 2;
    align-self: center;
}

.item_g2 {
    grid-column: 2/4;
    background-color: darkseagreen;
}

.grid_box_layout {
    display: grid;
    grid-template-areas:
        "header header header"
        "a main b"
        "footer footer footer"
        ;
        grid-auto-flow: row dense;
}


.item_header {
    grid-area: header;
    background-color: cornflowerblue;
}

.item_a {
    grid-area: a;
}
.item_main {
    grid-area: main;
}
.item_b {
    grid-area: b;
}

.item_footer {
    grid-area: footer;
    background-color: cornflowerblue;
}
