ul {
    background-color: #FFDAB9;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.right {
    float:right; list-style-type:none;
}

li {
    float: left;
    border-right: solid 3px white;
}
li:last-child { border-right: none;}
li a {
    display: block;
    background-color: #FFDAB9;
    color: #000000;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
li a.current {
    background-color: #FF6347;
    color: white;
}
li a:hover:not(.current) {
    background-color: #CD853F;
    color: white;
}